# C# and IDE Stuff
.idea/
Imperium/bin/
Imperium/obj/
ldeps/
artifacts/
out/
*.DotSettings*
Imperium.props.user

# Output Stuff
giosuel.Imperium.dll
*.zip

# Assets
Imperium/resources/assets/assets
Imperium/resources/assets/assets.manifest
Imperium/resources/assets/imperium_assets.manifest
